@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Conv_GothamPro-Medium";
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("☺"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_GothamPro-Light";
  src: url("../fonts/GothamPro-Light.eot");
  src: local("☺"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.svg#GothamPro") format("svg"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
  position: relative;
  z-index: 21;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
}

@media (max-width: 1130px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}
.hiro {
  margin-top: 200px;
}

.hiro-body {
  text-align: center;
}

.hiro-body__title {
  margin-top: 25px;
  color: #000;
  font-family: "Conv_GothamPro-Light";
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
}

.hiro-body__p {
  margin-top: 30px;
  font-family: "Conv_GothamPro-Light";
  font-size: 16px;
  line-height: 22px;
}
.hiro-body__p span {
  text-transform: uppercase;
  font-family: "Conv_GothamPro-Medium";
}

.hiro-list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #B9954A;
  border: 2px solid #B9954A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 50px;
}
.hiro-list li a {
  font-family: "Conv_GothamPro-Medium";
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.december {
  margin-top: 45px;
}

.title {
  color: #000;
  font-family: "GothamPro";
  text-transform: uppercase;
  font-size: 32px;
  line-height: 40px;
}

.december-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  margin: 28px -15px 0px -15px;
}

.december-body__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 15px;
}
.december-body__item:last-child {
  margin-top: 40px;
}

.december-row__item {
  margin-bottom: 40px;
}
.december-row__item p {
  color: #777777;
  font-family: "Conv_GothamPro-Light";
  font-size: 16px;
  line-height: 24px;
  max-width: 410px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.december-row__item_1 img {
  width: 100%;
}

.december-row__item_2 {
  text-align: right;
}

.date-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px 0px -15px;
}

.date-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  max-width: 160px;
  margin: 0px 15px;
  background: #F7F7F7;
  min-height: 160px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 15px 18px 15px;
}

.date-list__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #000000;
  font-family: "Conv_GothamPro-Medium";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.date-list__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-family: "Conv_GothamPro-Light";
  font-size: 14px;
  line-height: 20px;
}

.date-list__number {
  color: #B9954A;
  font-family: "Conv_GothamPro-Light";
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  margin-right: 8px;
}

.december-ps {
  margin-top: 8px;
  color: #000;
  font-family: "Conv_GothamPro-Light";
  font-size: 24px;
  line-height: 32px;
}
.december-ps span {
  font-family: "GothamPro";
}

.hausner {
  margin-top: 80px;
}

.hausner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.hausner-body__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
}
.hausner-body__item:first-child {
  margin-top: 100px;
}
.hausner-body__item:last-child {
  margin-top: 25px;
}

.hausner-row__item_1 {
  text-align: right;
}

.hausner-row__item_2 {
  text-align: right;
}

.hausner-row__item {
  margin-bottom: 32px;
}

.hausner-rowInRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hausner-row__item_4 {
  margin-left: 20px;
  margin-top: 2px;
}

.hausner-time span {
  font-family: "GothamPro";
}

.hausner-row__p {
  color: #777777;
  font-family: "Conv_GothamPro-Light";
  font-size: 16px;
  line-height: 24px;
  width: 407px;
  padding-left: 15px;
}

.hausner-about {
  margin-top: 15px;
  margin-left: 15px;
  color: #B9954A;
  font-family: "Conv_GothamPro-Medium";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
}

.hausner-reg {
  margin-top: 25px;
  border: 2px solid #B9954A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #000;
  font-family: "Conv_GothamPro-Medium";
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 31px;
  line-height: 20px;
  margin-left: 17px;
}

.excursions {
  margin-top: 45px;
}

.excursions-p {
  margin-top: 10px;
  color: #000;
  font-family: "GothamPro";
  font-size: 24px;
  line-height: 32px;
}
.excursions-p span {
  font-family: "Conv_GothamPro-Medium";
}

.date-list__excursions {
  margin-top: 42px;
}

.product {
  margin-top: 45px;
}

.product-title {
  color: #000;
  font-family: "Conv_GothamPro-Light";
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}
.product-title span {
  font-family: "Conv_GothamPro-Medium";
}

.product-body {
  margin-top: 27px;
}

.product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.product-row:nth-child(2n) > .product-row__item:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.product-row:nth-child(2n) > .product-row__item:last-child {
  text-align: right;
  padding-right: 30px;
}
.product-row:nth-child(n) > .product-row__item:last-child {
  padding-left: 30px;
}

.product-row__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.product-row__item img {
  width: 100%;
}

.product-row__logo {
  width: 120px;
  margin-bottom: 7px;
  display: inline-block;
}

.product-row__title {
  color: #000;
  font-family: "Conv_GothamPro-Light";
  font-size: 40px;
  line-height: 32px;
}

.product-list {
  margin-top: 24px;
}
.product-list li {
  color: #000;
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.product-row__link {
  margin-top: 24px;
  border: 2px solid #B9954A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #000;
  font-family: "Conv_GothamPro-Medium";
  font-size: 14px;
  line-height: 20px;
  padding: 12px 32px;
  text-transform: uppercase;
}